
  
  <md-sidenav class="md-sidenav-left md-whiteframe-1dp" md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h3>LCL MasterData</h3>
      </div>
    </md-toolbar>
    
    <md-content role="navigation">
      <ul class="side-menu">
        <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading" ng-if="section.type === 'heading'"
              id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
      </ul>
    </md-content>
  </md-sidenav>
  
  <md-content layout-fill layout-padding>
    <md-toolbar layout="row">
       <div class="md-toolbar-tools">
        <md-button class="menu" aria-label="Show User List"  ng-click="ul.toggleList()" >
        <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3>Stammdaten > Orga-Struktur</h3>
        <span flex></span>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                 <ng-md-icon icon="search"></ng-md-icon>

                
              </md-button>
              <input type="" name="">
              
      </div>
      </md-toolbar>
    <ui-view name="content"></ui-view>
  </md-content>
